body{
    background: red;
}
#container{
    background: rebeccapurple;
    position: absolute;
    width: 100%;
    height: 100%;
}
#elemento{
    background: yellow;
    position: absolute;
    top:0px;
    left: 0px;
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 20px;
}